/node_modules/
/lib/
/test/
/demo/
/card/
custom-elements.json
# top level source
decision-feed.js
decision-feed.js.map
decision-feed.d.ts
decision-feed.d.ts.map

# only generated for size check
# decision-feed.bundled.js

demo.html
